node_modules
.next
.git
README.md
Dockerfile
docker-compose.yml
.dockerignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.netlify
deno.lock
netlify.toml
.env*
.agent
.agents
specs
.specify
skills-lock.json
.vscode
.idea

